
.openNav {
    width: 100%;
    height: 460px;

    display: flex;
    flex-direction: column;
    padding: 80px;
    background: #FFFFFF;

    font-family: var(--font-mulish);
}

.closed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    display: none;
}

.closed h2 {
    font-weight: 700;
    font-size: 12px;
    color: var(--title-clr);
}

.closed button {
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: var(--title-clr);
    cursor: pointer;

    margin-right: 10px;
}
.closed button:hover {
    color: var(--icon-clr);
}

.openNav .navOptions {
    width: 100%;
    height: 55px;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    list-style: none;

    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-family: 'Mulish', sans-serif;
}

.openNav .locationContainer,
.openNav .guestsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    font-size: 14px;
    color: var(--text-clr);
    border-right: solid 1px var(--border-clr);
}

.openNav .locationContainer:focus-within,
.guestsContainer:focus-within {
    border: solid 1px var(--title-clr);
    border-radius: 16px;
}

.locationContainer label,
.guestsContainer label {
    margin-left: 20px;
    color: var(--title-clr);
    font-style: normal;
    font-weight: 800;
    font-size: 9px;
    text-transform: uppercase;
}

.locationContainer input,
.guestsContainer input {
    border: none;
    outline: none;

    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 4px;
}

.locationContainer input::placeholder,
.guestsContainer input::placeholder {
    color: var(--guests-clr);
}

.buttonContainer {
    width: 127px;
    margin: auto;
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--icon-clr);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    color: var(--border-clr);

    cursor: pointer;
}

.buttonContainer:hover {
    background-color: #f54444;
}

.openNav ul .buttonContainer img {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(292deg) brightness(117%) contrast(90%);
}

.openNav div {
    width: 100%;
    margin-top: 10px;
}

.openNav div .locationOptions {
    list-style: none;
    margin: 20px 15px;

}

.locationOptions li {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-clr);
    margin-bottom: 20px;
    cursor: pointer;
}

.locationOptions li::before {
    content: '';
    background-image: url('../assets/location.svg');
    background-size: 14px 19.47px;
    background-repeat: no-repeat;
    padding: 3px 8px;
    margin-right: 5px;
}

nav>div .guestButtons {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    
}

.guestButtons h2 {
    font-weight: 700;
    font-size: 14px;
}

.navControls .adults, 
.navControls .children{
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    width: fit-content; 

}

.children {

    margin-top: 20px;
}

.adults h2,
.children h2 {
    font-weight: 700;
    font-size: 14px;
    color: var(--title-clr);
}

.adults span,
.children span {
    font-weight: 400;
    font-size: 14px;
    color: var(--guests-clr);
    margin-top: 4px;

}

.adults button,
.children button {
    width: 23px;
    height: 23px;
    border: 1px solid var(--subtitle-clr);
    border-radius: 4px;
    color: var(--subtitle-clr);
    cursor: pointer;


}

.buttons .mas {
    padding-top: 3px;
}

.adults button:hover,
.children button:hover {
    color: var(--title-clr);
    border: solid 1px var(--title-clr);
}

.buttons {
    width: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.buttons span {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--title-clr);
}

@media only screen and (max-width: 768px) {
    .openNav {
        padding: 20px;
        height: 80vh;
        position: relative;
    }

    .closed {
        display: flex;
    }

    .openNav .navOptions {
        display: flex;
        height: fit-content;
        flex-direction: column;
    }

    .openNav .locationContainer,
    .openNav .guestsContainer {
        height: 55px;
        width: 100%;
    }

    .buttonContainer {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
    }

    .openNav .guestsContainer {
        border-top: solid 1px var(--border-clr);
    }

    .openNav div .guestButtons {
        align-items:flex-start;
        margin: 0;
    }
  
}