header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin-top: 40px;
}

header h1 {
    font-weight: 700;
    font-size: 24px;
    color: var(--title-clr);
}

header h2 {
    font-weight: 500;
    font-size: 14px;

    color: var(--text-clr);
}